@import url('https://fonts.googleapis.com/css?family=Lora:400,700');
@import 'variables';

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  font-size: 20px;
  margin: 0;
  padding: 0;
}

body {
  background: $background;
  color: $black;
  font-family: 'Lora', serif;
}

*:focus {
  outline: 0;
}
