@import 'variables';

.tool {
  background: $white;
  border-radius: 5px;
  margin-bottom: 1rem;
  padding: 1.5rem;

  &--heading {
    cursor: pointer;
    position: relative;

    &:hover .tool--name {
      text-decoration-color: $grey-dark;
    }
  }

  &--img {
    margin-right: 1rem;
    vertical-align: middle;
    width: 3rem;
  }

  &--name {
    display: inline-block;
    font-size: 3rem;
    margin: 0;
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: .3s all ease-out;
    vertical-align: middle;
  }

  &--votes {
    color: $grey;
    display: inline-block;
    float: right;
    font-size: 3rem;
    margin: 0;
  }

  &--information {
    color: $grey-dark;
    margin: .5rem 0 0 4rem;
  }

  &--summary {
    margin: 0;
  }

  &--links {
    background: 0;
    border: 0;
    color: $grey;
    cursor: pointer;
    display: inline-block;
    font-family: 'Lora', serif;
    font-size: 1rem;
    font-weight: 400;
    margin: 1.5rem 1rem 0 0;
    text-decoration: underline;
  }

  &--content {
    margin-top: 1.5rem;
  }

  &--benefits-title {
    font-weight: 700;
    margin: 0 0 .5rem;
  }

  &--benefits {
    margin: 0;

    li {
      line-height: 1.5;
    }
  }
}
