@import url('https://fonts.googleapis.com/css?family=Lora:400,700');

$black: #434343;
$grey-dark: #5b5b5b;
$grey: #acacac;
$white: #fff;
$background: #eee;
$shadow: rgba(0, 0, 0, .1);

@mixin transform-translate($x, $y) {
  -webkit-transform: translate($x, $y);
  -moz-transform: translate($x, $y);
  -o-transform: translate($x, $y);
  -ms-transform: translate($x, $y);
  transform: translate($x, $y);
}

%container {
  height: 100vh;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 1.5rem 1.5rem;
  width: 100vw;
}
